main {
  padding-top: 56px;
  padding-left: 5%;
  padding-right: 5%;
}
.dropdown-content {
  display: none;
  background-color: #f2aaa5;
}
.warningWrapper {
  transition: 0.6s;
  border-radius: 11px;
  background-color: #f72e1f;
}
.warningWrapper.open .dropdown-content {
  display: flex;
}
.warningWrapper.open .arrow {
  transform: rotate(180deg);
  transition: 0.6s;
}
.arrow {
  font-size: 30px;
}
